html, 
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #00000f;

	overflow-y: hidden;
	overflow-x: hidden;
	
	/*maybe on hover: text-shadow: 0 0 40px rgba(255,255,255,1); */
}

#main-logo-intro {
    	margin: auto;
	padding-top: 10vh;
	padding-bottom: 10vh;
	color: white;
	font-family: 'Work Sans', sans-serif;

	font-weight: 100;
}

#moonER {
	font-size: 20vh;
}

#instructions {
	font-size: 5vh;
	font-style: italic;
}

#moonER, #instructions {
	text-align: center;
}

#logo {
	display: block;
	margin: auto;
	padding-bottom: 5vh;
	width: 35vh;
	height: 35vh;
	
}
